.chat-container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  
}
.left-chat-section1frame {
  background-color: #181818;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 88px;
  gap: 73px;
}
.left-chat-container {
  width: 100%;
}
.left-chat-header {
  padding-top: 37px;
  padding-left: 132px;
  display: flex;
  background-color: #181818;
  gap: 16px;
}

.header-title {
  color: #b6fbff;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.72px;
}

.right-chat-container {
  width: 100%;
  background-color: #020202;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 20px;

}
.right-chat-logo {
  padding-top: 40px;
  padding-left: 29px;
  height: 10%;
}

.right-chat-input {
  width: 100%;
  margin: 0px;
  padding-inline: 35px;
  outline: none;
  height: 80px;
  border: 0.97px solid #b6fbff;
  border-radius: 100px;
  font-size: 20px;
  line-height: 23.87px;
  letter-spacing: 0.38px;
}

.buttonIn {
  width: 300px;
  position: relative;
  width: 65%;
}

.messages::-webkit-scrollbar{
  display: none;
}

.messages{
  -ms-overflow-style: none;
  scrollbar-width: none;
    width: 80%;
    gap: 15px;
    overflow-y: scroll;
    padding-block: 50px;
    display: flex;
    flex-direction: column-reverse;
}

.right-chat-enterbtn {
  position: absolute;
  top: 18px;
  border-radius: 40px;
  right: 20px;
  z-index: 2;
  border: none;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: #b6fbff;
  transform: translateX(2px);
  height: 44px;
  width: 44px;
}

.right-chat-msg-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: flex-end;
   padding-block: 20px;
}

.message-container{
    display: flex;
    gap: 10px;
}
.msg{
    display: flex;
    flex-direction: column;
}

.user-first-letter-comp{
    width: 56px;
    height: 56px;
    border-radius: 82px;
    background-color: #b6c1ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.msg-title{
    color: #b6fbff;
    font-size: 20px;
    line-height: 23.87px;
    letter-spacing: 0.38px;
}
.msg-desc{
    color: white;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.64px;
    font-weight: 300;
}


@media (min-width: 992px) {

  .left-chat-section1frame{
    display: flex;
  }

  .left-chat-container {
    width: 42%;
  }
  .right-chat-container {
    width: 58%;
  }
  .messages{
    width: 65%;
  }
  .chat-container{
    max-height: 100vh;
  }
}





