.footer-container{
    background-color: #020202;
    border-top: 1px solid #303030;
}

.footer-top{
    padding-top: 56px;
    padding-bottom: 38px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-inline: 52px;
}

.footer-bottom{
    display: flex;
    border-top: #303030 1px solid;
    padding-block: 45px;
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
}

.footer-bottom-left{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.footer-bottom-right{
    width: 100%;
    display: flex;
    font-size: 24px;
    color: #FFFFFF;
    gap: 30px;
    line-height: 36px;
    padding-left: 50px;
    flex-wrap: wrap;
}
.footer-bottom-right-item{
    width: 175px;
    height: 36px;
}

.footer-top-left-desc{
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}

.footer-top-left-btn{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    border-radius: 40px;
    border: solid 1px #FFFFFF;
    padding-block: 16px;
    padding-inline: 32px;
    width: 150px;
}

.footer-top-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.footer-top-right{
    padding-left: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.footer-top-right-item-title{
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.footer-top-right-item{
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 85%;
}
.footer-top-right-item-desc{
    font-size: 18px;
    color: #B3B3B3;
    line-height: 27px;
}

@media (min-width: 992px) {

    .footer-top-left{
        width: 50%;
       align-items: self-start;

    }
    .footer-top-right{
        width: 50%;
        padding-left: 50px;
        justify-content: flex-start;
        text-align: start;
    }
    .footer-top{
       gap: 0px !important;
       padding-inline: 132px;
    }
    .footer-top-right-item{
        display: flex;
        flex-direction: column;
        gap: 17px;
        width: 45%;
    }
    .footer-top-left-desc{
        text-align: left;
    }
  }



  @media (min-width: 540px) {
    .footer-bottom-left{
        width: 50%;
        padding-left: 112px;
        justify-content: flex-start !important;
    }
   
    .footer-bottom-right{
        width: 50%;
    }
    .footer-bottom{
        gap: 0px;
        text-align: start;
    }
  }




 