.color-b6fbfd {
  color: #b6fbfd;
}
.bg-b6fbfd{
    background-color: #b6fbfd !important;
}
.bg-1a1a1a{
    background-color: #1A1A1A;
}
.color-b6c1ff{
    color: #b6c1ff !important;
}
.color-ffffff80{
    color: #FFFFFF80 !important;
}
.bg-020202{
    background-color: #020202;
}

.color-white{
    color: white;
}

.h-104px{
    height: 104px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-64{
    font-size: 64px;
}
.minh-100vh{
    min-height: 100vh;
}
.w-40{
    width: 40%
}
.bg-white{
    background-color: white;
}
.color-black{
    color: black;
}
.font-size-18{
    font-size: 18px;
}
.pt-88px{
padding-top: 88px;
}
.lh-67px{
    line-height: 67px;
}
.lh-23px{
    line-height: 23px;
}
.letter-072px{
    letter-spacing: "0.72px"
}
.font-size-20{
    font-size: 20px;
}
.color-f4f4f6{
    color: #F4F4F6;
}
.cursor-pointer{
    cursor: pointer;
}
